In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
fao_data = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", on_bad_lines="skip", encoding="latin-1")
fao_data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [54]:
fao_data.groupby("Item").sum().loc["Animal fats"].loc[["Y2014", "Y2017"]]

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

In [59]:
round(fao_data.describe().loc[["std", "mean"]]["Y2015"], 3)

std     1603.404
mean     135.236
Name: Y2015, dtype: float64

In [64]:
missing = fao_data.isnull().sum()["Y2016"]
percent = (missing / fao_data.shape[0]) * 100

print(f"missing - {missing}")
print(f"percent - {round(percent, 2)}")

missing - 1535
percent - 2.52

In [68]:
fao_data.corr()["Element Code"].sort_values(ascending=False)

Element Code    1.000000
Y2014           0.024457
Y2018           0.024279
Y2017           0.024254
Y2015           0.023889
Y2016           0.023444
Area Code      -0.000209
Item Code      -0.024683
Name: Element Code, dtype: float64

In [71]:
fao_data.groupby("Element").sum().loc["Import Quantity"].sort_values()

Y2015             267018.46
Y2014             274144.48
Y2016             286582.78
Y2018             287997.09
Y2017             294559.09
Area Code         688174.00
Item Code       13795966.00
Element Code    28834929.00
Name: Import Quantity, dtype: float64

In [74]:
fao_data.groupby("Element").sum().loc["Production"].sort_values()

Area Code         526751.00
Y2014            1931287.75
Y2016            1943537.15
Y2015            1947019.39
Y2017            2030056.89
Y2018            2075072.89
Item Code       10450053.00
Element Code    21388191.00
Name: Production, dtype: float64

In [77]:
fao_data.groupby("Element")["Y2018"].sum().sort_values(ascending=False)

Element
Domestic supply quantity                  2161192.10
Production                                2075072.89
Food                                      1303841.28
Total Population - Both sexes             1140605.00
Food supply (kcal/capita/day)              455261.00
Processing                                 308429.00
Import Quantity                            287997.09
Feed                                       233489.68
Export Quantity                            181594.80
Losses                                     163902.00
Other uses (non-food)                       91300.97
Food supply quantity (kg/capita/yr)         49056.85
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Protein supply quantity (g/capita/day)      11833.56
Fat supply quantity (g/capita/day)          10258.69
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [78]:
fao_data.groupby("Element")["Y2018"].sum().sort_values(ascending=True)

Element
Tourist consumption                            90.00
Fat supply quantity (g/capita/day)          10258.69
Protein supply quantity (g/capita/day)      11833.56
Stock Variation                             20577.91
Seed                                        25263.14
Residuals                                   34864.00
Food supply quantity (kg/capita/yr)         49056.85
Other uses (non-food)                       91300.97
Losses                                     163902.00
Export Quantity                            181594.80
Feed                                       233489.68
Import Quantity                            287997.09
Processing                                 308429.00
Food supply (kcal/capita/day)              455261.00
Total Population - Both sexes             1140605.00
Food                                      1303841.28
Production                                2075072.89
Domestic supply quantity                  2161192.10
Name: Y2018, dtype: float64

In [83]:
fao_data.groupby(["Area", "Element"])["Y2018"].sum().loc["Algeria"]["Import Quantity"]

36238.29

In [84]:
fao_data["Area"].nunique()

49